* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Roboto';
	src: url('roboto/Roboto-Regular.ttf');
}

body { background-color: #FFAF0D; }

main { margin: 2em; }

.box {
	width: 320px;
	height: 500px;
	background-color: #FFE11A;
	color: #403806;
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 0 6px 6px -3px #BFA913;
}

.form-box {
	height: inherit;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

input {
	color: #3E3E3F;
	font-size: 2em;
	font-family: 'Roboto', monospace;
	width: 99%;
	height: 2em;
	background: transparent;
	margin: 1em;
	outline: none;
	border: none;
	border-bottom: 1px dashed #BFA913;
}

input:not(:last-child):focus { border: 1px solid #BFA913; }

input:last-child { border: 1px solid #BFA913; }
input:last-child:active { background: #FFAF0D; }

.form-picture { margin: 0 auto; }

@media screen and (max-width: 480px) {
	.box { width: 100%; }
	input[type="email"] { font-size: 1.5em; }
}